<% layout("/layouts/boilerplate") %>

    <div class="row mt-4">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="h3 mb-3">Log In</h1>
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                    <div class="invalid-feedback">Please choose a username.</div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">Please enter your password.</div>
                </div>
                <button type="submit" class="btn btn-danger btn-sm">Log In</button>
            </form>
        </div>
    </div>